<div class="site-footer">
         <div class="container">
            <div class="row">
               <div class="col-lg-6">
                  <h4>About</h4>
                  <div class="hline-b"></div>
                  <p>&#169; S356F Software Engineering And Project Management</p>
               </div>
               <div class="col-lg-6">
                  <h4>Rule of the website</h4>
                  <div class="hline-b"></div>
                  <p>
                     <a href="/termsOfUse">Term of Use</a><br/>
                     <a href="/privacypolicy">Privacy Policy</a><br/>
                  </p>
               </div>
            </div>
         </div>
      </div>
