<html>
   <head>
      <% include inc/head.ejs %>
      <title>SCHEDULELAND</title>
     
   </head>
   <body class="home-page">
      <!-- Fixed navbar -->
      <% include inc/navbar.ejs %>
      <!-- Main Container -->
      <div class="container site-container">
         <div class="row">
            <div class="col-md-6">
			<div class="index-title">
               <div class="index-title-word">
                  <h1>POWERFUL.<br><br>FREE.<br><br>SCHEDULING.</h1>
                  <a href="register.html"><button type="button" class="btn btn-success" href="signin.html">Create a Free Account</button>
                  </a>
               </div>
            </div>
			</div>
            <div class="col-md-6">
               <img src="http://tehkella.net/gamer/wp-content/uploads/2012/10/pokemon-wallpapers-030.jpg" class="img-responsive" alt="Team" width="304" height="236">   
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <img src ="https://www.setmore.com/new-home-page/img/illustration-cal.png"> 
               <h2>Joining Activity</h2>
               <br>Stay active. Attending others events. 
            </div>
            <div class="col-md-4">
               <img src ="https://www.setmore.com/new-home-page/img/illustration-scheduling.png"> 
               <h2>Self Managing</h2>
               <br>Control the timing. Mark Down Your Activity. 
            </div>
            <div class="col-md-4">
               <img src ="https://www.setmore.com/new-home-page/img/illustration-reminders.png"> 
               <h2>Auto Reminders</h2>
               <br>Get instant email reminders for every appointment.  
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <img src ="https://www.setmore.com/new-home-page/img/illustration-self-booking.png"> 
               <h2>Creating Activity</h2>
               <br>Start your event with your detail. Invite friends to join 
            </div>
            <div class="col-md-4">
               <img src ="https://www.setmore.com/new-home-page/img/illustration-mobile.png">  
               <h2>Mobile version</h2>
               <br>Coming soon.  
            </div>
            <div class="col-md-4">
               <img src ="https://www.setmore.com/new-home-page/img/illustration-reviews.png">  
               <h2>Review</h2>
               <br>Display ratings to the events  
            </div>
         </div>
         
		 <div class="test">
            <h2>
               <div class="testword">It's FREE! Sign up to experience easy appointment scheduling. <br>
                  Get your FREE account TODAY!
               </div>
            </h2>
            <a href="register.html">
            <button type="button2" class="btn btn-success">Start Now</button>
            </a>
         </div>
         
      </div>
      <!-- Fixed Footer -->
      <% include inc/footer.ejs %>
   </body>
</html>
