<html>
   <head>
      <% include inc/head %>
      <title>ABOUT US - SCHEDULELAND</title>
   </head>
   </head>
   <body class="aboutus-page">
      <!-- Fixed navbar -->
      <%if (nav=='auth') { %>
         <% include inc/navbar_auth %>
      <% }else{ %>
         <% include inc/navbar %>
      <%}%>
      <!-- Main Container -->
      <div class="container site-container">
	     <div class="panel panel-default">
            <div class="panel-heading"><h5>About SCHEDULELAND</h5></div>
            <div class="panel-body">
            SCHEDULELAND is a free scheduling tool which designs to help you to gather and hold activity. This can help to enlarge your social cycle and meet new friends. SCHEDULELAND isn’t just your ordinary appointment scheduling software, it is home to a number of features that make scheduling a bliss rather than a chore. Sticky notes, illegible scribbling across the page of an overflowing diary and taking appointments over the phone have become passé. In order to go ahead the fashion, you need SCHEDULELAND.
            </div>
         </div>

         <div class="row">
            <div class="col-lg-12">
               <h2 class="page-header  aboutus-header">Meet Our Team</h2><hr>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
               <img class="img-responsive img-center" src="http://www.demysys.com/wp-content/uploads/2016/03/Team-Member-Place-Holder-Icon.jpg" alt="">
               <h3>WONG, Wing Kam
                  <small>Team Leader</small>
               </h3>
               <div class="self-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
               <img class="img-responsive img-center" src="http://www.demysys.com/wp-content/uploads/2016/03/Team-Member-Place-Holder-Icon.jpg" alt="">
               <h3>LEUNG, Wai Kin
                  <small>Team member</small>
               </h3>
               <div class="self-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
               <img class="img-responsive img-center" src="http://www.demysys.com/wp-content/uploads/2016/03/Team-Member-Place-Holder-Icon.jpg" alt="">
               <h3>YUEN, Siu Hei
                  <small>Team member</small>
               </h3>
               <div class="self-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
               <img class="img-responsive img-center" src="http://www.demysys.com/wp-content/uploads/2016/03/Team-Member-Place-Holder-Icon.jpg" alt="">
               <h3>CHU, Wing Fai 
                  <small>Team member</small>
               </h3>
               <div class="self-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
               <img class="img-responsive img-center" src="http://www.demysys.com/wp-content/uploads/2016/03/Team-Member-Place-Holder-Icon.jpg" alt="">
               <h3>LO, Chun Kit
                  <small>Team member</small>
               </h3>
                <div class="self-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
               <img class="img-responsive img-center" src="http://www.demysys.com/wp-content/uploads/2016/03/Team-Member-Place-Holder-Icon.jpg" alt="">
               <h3>NG, King To
                  <small>Team member</small>
               </h3>
               <div class="self-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
         </div>
	  </div>
      <!-- Fixed Footer -->
      <% include inc/footer %>
   </body>
</html>
