<!DOCTYPE html>
<html>
   <head>
      <% include inc/head %>
      <title>PRIVACY POLICIES - SCHEDULELAND</title>
   </head>
   </head>
   <body>
      <div class="privacy-page">
         <%if (nav=='auth') { %>
            <% include inc/navbar_auth %>
         <% }else{ %>
            <% include inc/navbar %>
         <%}%>
         <!-- Main Container -->   
         <div class="container site-container">
	    <div class="privacy-title"><h2>Scheduland Privacy Policy</h2>
		<hr>
		</div>		 
             <div class="panel panel-default">
              <div class="panel-heading">Scheduland Privacy Policy</div>
              <div class="panel-body">
                 Because Scheduland understands that the privacy of your personal information is important to you, we have established privacy policies and practices. This notice explains how your data will be used and shared by Scheduland. By visiting Scheduland.com, you accept the policies and practices described in this privacy policy. This privacy policy is incorporated into, and is subject to, the Terms of Use. Any capitalized terms not defined in this policy have the meaning set forth in the Terms of Use.
              </div>
            </div>
             <div class="panel panel-default">
              <div class="panel-heading">What Our Privacy Policy Covers</div>
              <div class="panel-body">
               We follow generally accepted industry standards to protect the personally identifiable information submitted to us. As an example, all credit card information is encrypted using secure socket layer technology (SSL). However, no method of transmission is 100% secure. Therefore, Scheduland does not guarantee any confidentiality or privacy with respect to any of your personal information or User Submissions. Scheduland does not assume any liability to third parties whose information you include on the Site, or which you post in any User Submissions. Please keep your username and password secure.
              </div>
            </div>
             <div class="panel panel-default">
              <div class="panel-heading">Information We Collect</div>
              <div class="panel-body">
                Personal information is collected when you sign in to Scheduland.com, upon registration with Scheduland, or when contacting us via phone or email. Additional personal identification information such as user name, password, billing information, and contact information may also be collected in order to offer you Scheduland products and services. This information will be used to process your transactions, facilitate your use of our website, market our products and services, respond to your requests, assist you with future use of our services, and improve Scheduland.com. Choosing not to provide us with information will limit our ability to respond to your service needs. In addition, information such as your IP address and the site that referred you to ours will be gathered automatically. All data acquired via the website is stored indefinitely. Because of the nature of the Internet, data may pass through any country and any jurisdiction, including jurisdictions where privacy laws may be different and less protective than those of your home jurisdiction. Unless you opt out of receiving promotional materials, we may send you information by email or postal mail to the address you provided. From time to time we may notify you of special promotions, new products or services, or other information that may interest you. You may also receive notifications of special promotions, new products, or additional services from our third-party associates. If you would like to opt out of receiving correspondence, please send your request to help@scheduland.com. We do not rent or sell your personal information to non-associated parties, unless sharing this information is necessary to provide you with Scheduland products or is required by law. Scheduland reserves the right to share your information with these third parties, in order to provide you related services, or when it is reasonably necessary to comply with legal process, respond to claims, or protect the rights, property or safety of our company, employees, customers, or the public.
              </div>
            </div>
             <div class="panel panel-default">
              <div class="panel-heading">Cookies</div>
              <div class="panel-body">
                 A cookie is a small data file that is automatically saved on your computer's hard drive when you visit a website. These cookies may contain information used to record the websites you visit, but do not contain any personally identifiable information such as your name, address, or credit card information. Scheduland uses cookies to give you a personalized experience. If you have signed up with Scheduland, cookies allow our website to recognize you when you return and give you access to your personal account options. We may also use cookies to keep track of the ways in which customers find us and navigate through our website. This information will be used internally to help us determine where improvements can be made to our website and services. If you do not wish cookies to be saved to your system, you may change your browser's settings so that your computer does not accept them. If cookies are disabled, however, you will not be able to purchase our product and we will not be able to recognize you as a registered user.
              </div>
            </div>
             <div class="panel panel-default">
              <div class="panel-heading">Links to Other Websites</div>
              <div class="panel-body">
                There may be links to other websites from Scheduland.com. Scheduland does not control any third- party websites and we are not responsible for these sites' use of personal information. We encourage you to become familiar with the privacy practices of any linked site when you visit it.
              </div>
            </div>
             <div class="panel panel-default">
              <div class="panel-heading">Privacy Policy Changes</div>
              <div class="panel-body">
                This notice replaces all previous disclosures we may have provided you about our information practices. We reserve the right to revise and modify this policy at any time, without notice, and to apply these changes in policy to information previously collected, where legally permissible. We will notify you of changes by posting the policy changes on our website. Your continued use of the Site constitutes your acceptance to this privacy policy and any updates. This privacy policy was last updated January 2017.
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">Contact Us</div>
              <div class="panel-body">
                If you have any questions about our privacy policy, please send mail to help@scheduland.com. The examples contained in our privacy policy are illustrations only and are not intended to be exhaustive.
              </div>
            </div>
      </div>
      <!-- Fixed Footer -->
      <% include inc/footer %>
   </body>
</html>