<!DOCTYPE html>
<html>
   <head>
      <% include inc/head %>
      <title>TERM OF USE - SCHEDULELAND</title>
   </head>
   <body>
      <div class="termofuse-page">
         <!-- Fixed navbar -->
         <%if (nav=='auth') { %>
            <% include inc/navbar_auth %>
         <% }else{ %>
            <% include inc/navbar %>
         <%}%>
         <!-- Main Container -->
         <div class="container site-container">
	    <div class="termofuse-title"><h2>Terms and Conditions</h2>
		<hr>
		</div>		 
            <div class="panel panel-default">
              <div class="panel-heading">Terms and Conditions</div>
              <div class="panel-body">
                Welcome to the Scheduland.com website (collectively, including all content and functionality available through the Scheduland.com domain name, referred to as the "Site"). By accessing or using the Site, you (Site visitor, or "User"), whether registered or not, accept these Terms of Use ("Agreement") and our Privacy Policy, which is incorporated into the Agreement, and agree to be bound by these terms and all applicable Oregon State and federal laws.
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">Use of Site</div>
              <div class="panel-body">
                The Site may not be used to gain or attempt to gain a competitive advantage in Scheduland's industry market or be used for any commercial purpose. Services and products are intended only for persons who are legally permitted to enter binding contracts. The information, opinions, images, messages, website links, text information, music, videos, graphics, files, ideas, data and any other content provided to us by Users ("User Submissions") and uploaded, published, displayed or otherwise made available ("posted") on the Site is not endorsed by Scheduland. Users are solely responsible for the submissions he or she posts. Users retain all ownership rights in his or her own User Submissions. However, by submitting User Submissions to the Site, Users have the right to grant, to Scheduland a non-exclusive, worldwide, non-revocable, transferable, royalty-free, and perpetual right to use the User Submissions. Users rights are in any manner or media now or later developed, for any purpose, commercial, advertising, or otherwise, including the right to translate, display, sub-license, reproduce, create derivative works, distribute, assign and commercialize without any payment due to User. User Submissions are not confidential or proprietary.
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">Rules of Conduct</div>
              <div class="panel-body">
                 Users agree to adhere to generally accepted rules of etiquette and behavior standards. The following rules of conduct apply to Users use of the Site and to all User Submissions posted on the Site. Users agree to adhere to generally accepted rules of etiquette and behavior standards. As User, you agree not to: post User Submissions that are libelous, hateful, inflammatory, illegal, inaccurate, malicious, false, pornographic, defamatory, harmful to others, obscene, sexually explicit, harassing, vulgar, violent, racially, ethnically or culturally offensive, or otherwise objectionable or offensive in any way; post User Submissions that are invasive of privacy, publicity, intellectual property, proprietary, or contractual rights; post photos or videos of another person without that person's consent; post any advertising or solicitation or commercial content whatsoever on the Site; post User Submissions or take any action on the Site that violates any law, creates liability, or promotes illegal activities; impersonate any person or entity, or misrepresent him or herself or any affiliation with any person or entity; promote software or services that delivers unsolicited email or contains viruses, Trojan horses, worms, time bombs, or other harmful programming routines or computer code; solicit personal information from anyone under 18; post the personal information of another person without that person's permission; or use another User's account or modify or remove another User's User Submissions without their permission.
              </div>
            </div>      
            <div class="panel panel-default">
              <div class="panel-heading">Rules of Conduct</div>
              <div class="panel-body">
                  Users agree to adhere to generally accepted rules of etiquette and behavior standards. The following rules of conduct apply to Users use of the Site and to all User Submissions posted on the Site. Users agree to adhere to generally accepted rules of etiquette and behavior standards. As User, you agree not to: post User Submissions that are libelous, hateful, inflammatory, illegal, inaccurate, malicious, false, pornographic, defamatory, harmful to others, obscene, sexually explicit, harassing, vulgar, violent, racially, ethnically or culturally offensive, or otherwise objectionable or offensive in any way; post User Submissions that are invasive of privacy, publicity, intellectual property, proprietary, or contractual rights; post photos or videos of another person without that person's consent; post any advertising or solicitation or commercial content whatsoever on the Site; post User Submissions or take any action on the Site that violates any law, creates liability, or promotes illegal activities; impersonate any person or entity, or misrepresent him or herself or any affiliation with any person or entity; promote software or services that delivers unsolicited email or contains viruses, Trojan horses, worms, time bombs, or other harmful programming routines or computer code; solicit personal information from anyone under 18; post the personal information of another person without that person's permission; or use another User's account or modify or remove another User's User Submissions without their permission.
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">Scheduland</div>
              <div class="panel-body">
                agrees not to prescreen User Submissions or guarantee that the Site will be free from offensive, inaccurate, unlawful or otherwise objectionable User Submissions. expressly disclaims any liability in connection with User Submissions. assumes no responsibility for, or any obligation to monitor or remove, User Submissions. assumes no responsibility for any action or inaction taken in regards to offensive content or User Submissions on the Site. reserves the right to restrict any User's access to the Site or edit, remove, or refuse to post any User Submissions or terminate User accounts for any or no reason. This includes, without limitation, User Submissions that may be harmful to others or if User has engaged in harassment of Scheduland service providers. Users may immediately notify Scheduland of any objectionable User Submissions appearing on the Site. Scheduland makes no promise that it will edit or remove any specific User Submissions.
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">Accuracy of Information</div>
              <div class="panel-body">
                Although Scheduland's webmaster updates information on the Site periodically, Scheduland does not offer assurance that the information or material is error-free or complete. Such updates include but are not limited to availability and price. Scheduland reserves the right to revise or change information without prior notice. Although we apologize for the inconvenience, Scheduland reserves the right to correct any information at any time, even during User transactions, and will take measures that may include refusal, cancellation, or revision to adjust Users’ final payment. All prices are available for limited time only, and Scheduland reserves the right to change any price without notice. Current promotions, sales, and discounts are not valid towards previously purchased service.
              </div>
            </div>       
            <div class="panel panel-default">
              <div class="panel-heading">Third Party Links and Content</div>
              <div class="panel-body">
                 Links and references to and from third party websites are provided for convenience only. Scheduland does not expressly or implicitly endorse any information, materials, or services offered on third party sites, nor their accessibility or security. Scheduland does not assume any responsibility or liability for third party sites, nor does Scheduland make any representation or warranties for these sites. No User may provide links to Scheduland's website without prior written permission from Scheduland's webmaster. To request such permission, contact help@Scheduland.com. Scheduland and its service providers do not guarantee the accuracy or completeness of the Site's content. Scheduland does not assume responsibility or liability for third party content on the Site. Vendors of Scheduland may furnish certain information available to the User, including certain product data and opinions, and thus User agrees to indemnify Scheduland service providers and affiliates against all losses or damages resulting in User's reliance on any information, opinion, or advice obtained through the Site.
              </div>
            </div>  
            <div class="panel panel-default">
              <div class="panel-heading">Termination</div>
              <div class="panel-body">
                Scheduland reserves the right, in its sole discretion, to terminate any User account and any User Submissions, and restrict User's access to all or any part of the Site for any or no reason, without notice, and without liability to any User or anyone else. These Terms of Use are applicable to any User who accesses, registers, or purchases anything on the Site. The terms of Termination; Indemnity; Copyright and Trademark Disclaimer; Limitation of Liability and Disclaimer of Warranties; and Governing Law sections will survive any termination of service or use of the Site.
              </div>
            </div>              
            <div class="panel panel-default">
              <div class="panel-heading">Indemnity</div>
              <div class="panel-body">
                 User agrees to indemnify Scheduland and its service providers and affiliates against all losses or damages, including reasonable attorney's fees, resulting from or relating in any way to his or her User Submissions, use of the Site, any violation of this Agreement, Privacy Policy, any law, or the rights of any third party, or any activity on the User's account by another third party.
              </div>
            </div>   
            <div class="panel panel-default">
              <div class="panel-heading">Copyright and Trademark Disclaimer</div>
              <div class="panel-body">
                The Site is owned by Scheduland and is available for Users personal and non-commercial purposes only. The Scheduland name, logo, and site content, including all pictures, slogans, text, colors, designs, graphics, images, icons, buttons, code, and software, are all subject to trademark, copyright, and other applicable intellectual property rights and law. Third-party trademarks, product names, and logos on the Site are the property of their respective owners. Scheduland retains sole rights for all use, production, and copy of its trademarks, and any misuse is strictly prohibited. Scheduland trademarks may not be copied, reproduced, modified, downloaded, published, exploited, or transmitted without first obtaining written permission from Scheduland. Permission is only granted to electronically copy and print pages from the Site solely as related to the non-commercial placement of User's personal order from Scheduland. Scheduland retains all intellectual property rights, copyrights, and trademarks for any material that User prints for personal use. User agrees to respect all applicable intellectual property laws and not use any materials on the Site to create new works. User agrees to not use, copy, or distribute any of the content, including User Generated Content, other than expressly permitted, for any commercial purpose. User warrants that he or she owns all rights in any User Submissions posted to the Site. User agrees not to post, modify, distribute, or reproduce User Submissions that belong to another person, without first obtaining the owner's permission to post such User Submissions and grant to Scheduland all of the license rights granted in this Agreement.
              </div>
            </div>                           
            <div class="panel panel-default">
              <div class="panel-heading">Limitation of Liability and Disclaimer of Warranties</div>
              <div class="panel-body">
                 Scheduland provides the site "as is" and does not claim to make any warranties, express or implied, about the serviceability, merchantability, fitness for a particular purpose, or content of the site. Scheduland further does not warrant that its site or applicable server is free from viruses or other potentially harmful code. Neither Scheduland nor any of its service providers shall be liable for any claims arising from any use or inability to use products or services, the conduct of other site users, malfunctions or defects in the site, lack of privacy or security when using the site, for any delay in or lack of delivery, for any loss of profits, data, or business, for user or any third party, as permissible under all applicable law. if applicable law does not permit such an exclusion of liability for incidental, special, or consequential damages, the limitation may not apply in its entirety. User agrees to indemnify and hold harmless Scheduland and its service providers from damages, and neither party will be liable for any indirect, incidental, special, consequential or any damages whatsoever (including, but not limited to, damage caused by lost profits, loss of business opportunity, lost data, computer viruses, business interruption, lost revenue, or loss of goodwill) for any cause of action, whether in contract, tort, strict liability, or otherwise, arising out of or related to this agreement. In no event shall Scheduland be liable for damages in excess of the price charged to user for user's order. This limitation shall not apply to death or personal injury to the extent that applicable law prohibits such limitation. Scheduland reserves the right to change or discontinue at any time any aspect or feature of this site.
              </div>
            </div> 
            <div class="panel panel-default">
              <div class="panel-heading">Governing Law</div>
              <div class="panel-body">
                 The Site is controlled and operated by Schedule Six in Hong Kong SAR. Scheduland makes no claim that the Site, its services, are appropriate or accessible to other locations. User accesses the Site on her/his own initiative, accepts and agrees to be bound by the terms of the Agreement, the Privacy Policy, and submits to the jurisdiction and venue in the state or federal courts located in Oregon. This agreement shall be governed by the laws of the State of Oregon without giving effect to its conflicts of law principles.The provisions of this Agreement will be deemed severable, and the invalidity or unenforceability of any provision will not affect the validity or enforceability of any other provision.
              </div>
            </div> 
         
         </div>
      </div>
      <!-- Fixed Footer -->
      <% include inc/footer %>
   </body>
</html>